body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #73c6d1; /* Light pink background */
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #333; /* Dark gray text color */
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff; /* White background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow */
    border-radius: 8px;
    overflow: hidden; /* Prevent border-radius from clipping */
}

th, td {
    padding: 12px 15px; /* Increase padding for better spacing */
    text-align: left;
    border-bottom: 1px solid #ddd; /* Light gray border */
}

th {
    background-color: #007bff; /* Blue header background */
    color: #fff; /* White text color */
    font-weight: bold; /* Make header text bold */
    text-transform: uppercase; /* Convert header text to uppercase */
}

th:not(:last-child) {
    border-bottom: 1px solid #007bff; /* Blue line between header cells */
}

tr {
    transition: background-color 0.3s; /* Smooth transition on hover */
}

tr:hover {
    background-color: #f2f2f2; /* Light gray background on hover */
}

.btn-container {
    text-align: center;
}

.btn {
    padding: 10px 20px; /* Increase button padding */
    margin: 5px; /* Add margin */
    cursor: pointer;
    background-color: #73c6d1; /* Light pink background */
    color: #333; /* Dark gray text color */
    border: none;
    border-radius: 4px;
    text-transform: uppercase; /* Convert button text to uppercase */
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #20c0ff; /* Light pink background on hover */
}

.btn-big {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 15px 30px; /* Increase button padding */
    font-size: 18px; /* Increase button font size */
    color : #fff; /* White text color */
    background-color: #007bff; /* Blue background */
    outline: none;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Align action section */
.action-section {
    text-align: center;
}